html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.ft-wrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 32px 88px 24px 88px;
}

footer {
    padding: 16px;
}
